.topnav {
    background-color: rgb(203, 191, 217);
    overflow: hidden;
}

.topnav a {
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Saira Condensed', serif;
    font-size: 16px;
    font-weight: 500;
}
.topnav a:hover {
    text-decoration: underline;
}

#title {
    font-family: 'Saira Condensed', serif;
    font-size: 32px;
    font-weight: 700;
    float: left;
}